name: Build - Actions bundle
on:
  push:
    paths:
      - src/**
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup Node.JS 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm
      - name: Install NPM development dependencies
        run: npm install
      - name: Build Actions
        run: npm run build
      - name: Commit and push Actions bundle
        uses: EndBug/add-and-commit@v9
        with:
          add: -f dist/index.js
          message: 'chore(dist): build'
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
