name: Test - Custom options file
on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test:
    runs-on: ubuntu-latest

    # Exclude in-repo PRs from running this job
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Generate options file
        run: |
          cat <<'OPTIONS_FILE' > packsquash_options.toml
            pack_directory = 'test/empty_resource_pack'
            output_file_path = 'pack.zip'
          OPTIONS_FILE

      - name: Run PackSquash
        uses: ./ # Uses an action in the root directory
        with:
          packsquash_version: latest
          options: packsquash_options.toml
