name: Test - Run in multiple steps
on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test:
    runs-on: ubuntu-latest

    # Exclude in-repo PRs from running this job
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork

    steps:
      - name: Clone repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Run PackSquash
        uses: ./ # Uses an action in the root directory
        with:
          packsquash_version: latest
          artifact_name: 'Optimized pack 1'
          options: |
            pack_directory = 'test/empty_resource_pack'
      - name: Run PackSquash
        uses: ./
        with:
          packsquash_version: latest
          artifact_name: 'Optimized pack 2'
          options: |
            pack_directory = 'test/empty_resource_pack'
