name: Test - Empty resource pack (latest PackSquash build)
on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
  workflow_dispatch:
  schedule:
    # Check the action works with the latest PackSquash build every
    # 2 days. Ideally we should check this when a commit is pushed
    # to the master branch of the PackSquash repository, but doing
    # so requires a PAT to send a repository_dispatch dispatch event,
    # and we do not want to mess with that
    - cron: '0 12 * * 1,3,5,0'
jobs:
  test:
    runs-on: ubuntu-latest

    # Exclude in-repo PRs from running this job
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate minimal PackSquash options file
        run: echo 'pack_directory = "test/empty_resource_pack"' > packsquash-options.toml
      - name: Run PackSquash
        uses: ./ # Uses an action in the root directory
        with:
          packsquash_version: latest-unstable
          options: |
            pack_directory = 'test/empty_resource_pack'
